html, body{
  padding:0;
  margin:0;
  font-family: monospace;
}

h1, h2, h3, h4, h5, h6 {
  color: #0099CC;
}

div {
  padding: 1em;
  margin: 1em;
}

.icon{
  width: 32px;
  height: 32px;
  fill: #ccc;
}

.is-check{
  fill: #FE4365;
}

.is-outlined{
  stroke:  #FE4365;
  stroke-width: 2px;
  fill: transparent;
}




.is-hoverable:hover{
  fill: #FE4365;
  cursor: pointer;
}

.is-activeable:active{
  transform: scale(1.25);
  cursor: pointer;
}

.is-blured {
  filter: url(#gaussianBlur);
}

.is-blur--onhover:hover {
  filter: url(#gaussianBlur);
}

.is-pink--onhover:hover{
  fill: pink;
}

.is-weird {
  stroke-linecap: butt;
  stroke: cyan;
}

.is-weird--onhover:hover {
  fill: green;
  stroke: purple;
}

.is-transit{
   -webkit-transition: all .35s ease-out;
  -moz-transition: all .35s ease-out;
  -ms-transition: all .35s ease-out;
  -o-transition: all .35s ease-out;
  transition: all .35s ease-out;
}


.icon.is-x2{
  width: 64px;
  height: 64px;
}

.icon.is-x4{
  width: 128px;
  height: 128px;
}

.icon.is-x10{
  width: 320px;
  height: 320px;
}


.wheat {
  width: 28px;
  height: 64px;
}

.wheat.is-x2 {
  width: 56px;
  height: 128px;
}

.wheat.is-x4 {
  width: 112px;
  height: 256px;
}

.beer {
  width: 54px;
  height: 58px;
}

.beer.is-x2 {
  width: 108px;
  height: 116px;

}

.beer.is-x4 {
  width: 216px;
  height: 232px;
}


.wheatField {
  width: 160px;
  height: 270px;
}
